In [1]:
import pandas as pd

In [2]:
salaries_df = pd.read_csv('Salaries.csv',low_memory=False, index_col=0)

In [3]:
salaries_df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
salaries_df.shape

(148648, 12)

In [16]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148648 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148648 non-null  object
 1   JobTitle          148648 non-null  object
 2   BasePay           148043 non-null  float64
 3   OvertimePay       148648 non-null  float64
 4   OtherPay          148648 non-null  float64
 5   Benefits          112490 non-null  float64
 6   TotalPay          148648 non-null  float64
 7   TotalPayBenefits  148648 non-null  float64
 8   Year              148648 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148648 non-null  object
 11  Status            38119 non-null   object
dtypes: float64(7), int64(1), object(4)
memory usage: 14.7+ MB

In [8]:
salaries_df['TotalPay'].sum()

11114416230.010002

### How much total salary cost has increased from year 2011 to 2014?

In [18]:
overallbudget  = salaries_df.groupby('Year')['TotalPay'].sum()
overallbudget

Year
2011    2.594113e+09
2012    2.724736e+09
2013    2.918656e+09
2014    2.876911e+09
Name: TotalPay, dtype: float64

In [20]:
overallbudget[2014]-overallbudget[2011]

282797920.53994226

###  Who was the top-earning employee across all the years?

In [30]:
highestpay = salaries_df.loc[salaries_df['TotalPayBenefits'].idxmax()]
highestpay['EmployeeName']

'NATHANIEL FORD'